.content{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 40px;
  margin-bottom: 50px;
  
  
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.title{
  font-size: 20px;
}

.titleUnsuccessful{
  display: grid;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  top: -100px;
}

.buttonShowMore{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  user-select: none;
  background: #a9abfe;
  padding: .7em 1.5em;
  outline: none;
  border: none;
  margin-bottom: 25px;

  &:hover{
    background: rgba(136, 138, 235, 1);
  }

  &:active{
   background: rgba(136, 138, 235, 1);
  }
}

.linkBookCard{
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

