.wrapper{

  .title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .input{
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    width: 400px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);

  }

  .sortingBlock{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 300px;

    .categories{
      display: grid;
      justify-content: end;
    }

    .titleCategories{
      font-size: 25px;
    }

    .sorting{
      display: grid;
      justify-content: start;
    }

    .titleSorting{
      font-size: 25px;
    }
  }
}

