.wrapper{
  font-family: 'Manrope', sans-serif;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .imgBook{
    width: 300px;
    height: 460px;
    border: solid black 2px;
    margin: 50px 50px 50px 125px;
  }

  .blockInfo{
    text-align: start;
    margin-top: 50px;

    .category{
      font-size: 20px;
      color: rgba(0, 0, 0, 0.75);
      text-decoration-line: underline;
    }

    .title{
      font-size: 40px;
      font-weight: 600;
      color: rgba(0, 0, 0, 1);
    }

    .author{
      font-size: 22px;
      color: rgba(0, 0, 0, 1);
      margin-top: 20px;
    }

    .publishedDate{
      font-size: 22px;
      color: rgba(0, 0, 0, 1);
      margin-top: 10px;
    }

    .description {
      max-width: 800px;
      font-size: 20px;
      margin-top: 50px;
      text-align: justify;
      line-height: 28px;
    }

  }
}

.buttonBack{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  user-select: none;
  background: #a9abfe;
  padding: .7em 1.5em;
  outline: none;
  border: none;
  margin-bottom: 25px;
  margin-top: 40px;

  &:hover {
    background: rgba(136, 138, 235, 1);
  }

  &:active {
    background: rgba(136, 138, 235, 1);
  }
}

.titleHeader{
  font-size: 50px;
  margin-top: 20px;

}
